.archive_section {padding-top:5rem;
  .title {font-size:3rem; font-weight: 900;}
  .list {max-width: 70%; margin:5rem auto;
    ul {
      li {list-style: circle;
        .title {font-size: 2.5rem;}
      }
    }
  }
}